# Copy this file to .env and fill in your actual values
# Get these from your 8x8 JaaS dashboard: https://jaas.8x8.vc/

JAAS_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
YOUR_ACTUAL_PRIVATE_KEY_HERE_FROM_JAAS_DASHBOARD
-----END RSA PRIVATE KEY-----"

JAAS_APP_ID=vpaas-magic-cookie-b78ef1cd37804b878fe1c9d83b168da3
JAAS_KID=vpaas-magic-cookie-b78ef1cd37804b878fe1c9d83b168da3/0332c5-SAMPLE_APP
