# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Private keys
*.pk
*.key

# Logs
*.log
webhooks.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temp files
/tmp/
*.tmp
